.scene__actions {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.scene__action {
  margin: 15px;
}

.scene__action a {
  font: normal normal 28px /38px 'Roboto', sans-serif;
  text-align: center;
  color: #fff;
  background: #555;
  border-radius: 4px;
  padding: 12px 20px;
}
